# Database
DB_HOST=localhost
DB_NAME=ceferly_db
DB_USER=ceferly_user
DB_PASS=ceferly_password
DATABASE_URL="mysql://ceferly_user:ceferly_password@127.0.0.1:3306/ceferly_db"
POSTGRES_USER=ceferly_user
POSTGRES_PASSWORD=ceferly_password
POSTGRES_DB=ceferly_db

# App environment
ENV=TEST
PORT_TEST=4000
URL_TEST=http://localhost
PORT_PROD=
URL_PROD=

# JWT secret
JWT_SECRET=ceferly_secret_jwt_key_12345

# AI service
AI_SERVER=OpenRouter
OPENROUTER_API_KEY=
GROQ_API_KEY=

# Payments & Mail
STRIPE_SECRET_KEY_TEST=sk_test_dummy
STRIPE_SECRET_KEY_PROD=
URL_FRONT_TEST=http://localhost:4200
RESEND_API_KEY=
